.items-slider-container {
  max-width: 900px;
  margin: 0 auto;
}

.items-slider-container .slider-for {
  background-color: #fff;
  margin-bottom: 0;
}

.items-slider-container .slider-for img {
  max-width: 100%;
}

.items-slider-container .slider-for .item-informations-container {
  position: absolute;
  padding: 30px;
}

.items-slider-container .slider-for .item-informations-container.left-top {
  top: 0;
  left: 0;
}

.items-slider-container .slider-for .item-informations-container.left-top .item-slide-title,
.items-slider-container .slider-for .item-informations-container.left-top .item-slide-info-1,
.items-slider-container .slider-for .item-informations-container.left-top .item-slide-info-2 {
  text-align: left;
}

.items-slider-container .slider-for .item-informations-container.center-top {
  position: absolute;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 0;
}
/* line 53, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container.right-top {
  top: 0;
  right: 0;
}
/* line 57, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container.right-top .item-slide-title,
.items-slider-container .slider-for .item-informations-container.right-top .item-slide-info-1,
.items-slider-container .slider-for .item-informations-container.right-top .item-slide-info-2 {
  text-align: right;
}
/* line 65, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container.left-center {
  position: absolute;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0;
}
/* line 69, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container.left-center .item-slide-title,
.items-slider-container .slider-for .item-informations-container.left-center .item-slide-info-1,
.items-slider-container .slider-for .item-informations-container.left-center .item-slide-info-2 {
  text-align: left;
}
/* line 77, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container.center-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 81, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container.right-center {
  position: absolute;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
}
/* line 85, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container.right-center .item-slide-title,
.items-slider-container .slider-for .item-informations-container.right-center .item-slide-info-1,
.items-slider-container .slider-for .item-informations-container.right-center .item-slide-info-2 {
  text-align: right;
}
/* line 93, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container.left-bottom {
  bottom: 0;
  left: 0;
}
/* line 97, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container.left-bottom .item-slide-title,
.items-slider-container .slider-for .item-informations-container.left-bottom .item-slide-info-1,
.items-slider-container .slider-for .item-informations-container.left-bottom .item-slide-info-2 {
  text-align: left;
}
/* line 104, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container.center-bottom {
  position: absolute;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 0;
}
/* line 109, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container.right-bottom {
  bottom: 0;
  right: 0;
}
/* line 113, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container.right-bottom .item-slide-title,
.items-slider-container .slider-for .item-informations-container.right-bottom .item-slide-info-1,
.items-slider-container .slider-for .item-informations-container.right-bottom .item-slide-info-2 {
  text-align: right;
}
/* line 121, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container .item-slide-title,
.items-slider-container .slider-for .item-informations-container .item-slide-info-1 {
  line-height: 1em;
}
/* line 126, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container .item-slide-title {
  font-size: 40px;
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
}
/* line 135, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container .item-slide-info-1 {
  font-size: 22px;
  font-size: 2.2rem;
  color: #ccc;
  text-transform: uppercase;
}
/* line 144, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-for .item-informations-container .item-slide-info-2 {
  font-size: 40px;
  font-size: 4rem;
  color: #2ebaaf;
  text-transform: uppercase;
}
/* line 156, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-nav {
  background-color: #909090;
  margin-bottom: 30px;
}
/* line 160, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-nav .slick-slide {
  position: relative;
  padding: 7px;
}
/* line 164, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-nav .slick-slide img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  max-width: 100%;
  margin: 0 auto;
}
/* line 170, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-nav .slick-slide:hover {
  cursor: pointer;
}
/* line 174, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-nav .slick-slide.current-slide {
  background-color: #fff;
}
/* line 177, sass/portlets/items-slider/scss/modules/_items-slider.scss */
.items-slider-container .slider-nav .slick-slide.current-slide img {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

@media screen and (min-width: 600px) {
  /* line 197, sass/portlets/items-slider/scss/modules/_items-slider.scss */
  .items-slider-container .slider-for .item-informations-container .item-slide-title {
    font-size: 71px;
    font-size: 7.1rem;
  }
  /* line 203, sass/portlets/items-slider/scss/modules/_items-slider.scss */
  .items-slider-container .slider-for .item-informations-container .item-slide-info-1 {
    font-size: 34px;
    font-size: 3.4rem;
  }
  /* line 209, sass/portlets/items-slider/scss/modules/_items-slider.scss */
  .items-slider-container .slider-for .item-informations-container .item-slide-info-2 {
    font-size: 34px;
    font-size: 3.4rem;
  }
}